@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;

400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #8d96bd;
}

.section-inner {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 15px;
}

.section-inner-wide {
  max-width: 1440px;
}

.section-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
  z-index: 10;
}

.section-header .section-inner {
  padding: 20px 15px;
  font-family: "Quicksand", sans-serif;
}

.section-header-active {
  width: 100vw;
  height: 100vh;
  -webkit-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}

.section-header-active .section__flex-wrapper {
  opacity: 1;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  margin-bottom: 25px;
}

.section-header-active .nav__list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.section-header-active .nav__list li {
  font-size: 26px;
  margin: 10px 0;
}

.section-header-active .social-networks {
  margin: 30px 0;
}

.section-header-active .button-darkblue {
  font-size: 16px;
  padding: 15px;
  border-radius: 10px;
}

.section__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.logo {
  background: #5e81fe;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.logo:hover {
  background-color: #3afa84;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.nav__list-item + .nav__list-item {
  margin-left: 42px;
}

.nav__list-item:first-child {
  margin-left: 73px;
  font-weight: bold;
  color: #5e81fe;
}

.nav__list-item a {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav__list-item a:hover {
  color: #961010;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.social-networks-link + .social-networks-link {
  margin-left: 34px;
}

.social-networks-link:last-of-type {
  margin-right: 44px;
}

.social-networks-link path {
  fill: #b6bac7;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.social-networks-link path:hover {
  fill: #6188ff;
}

.social-networks-img {
  max-width: 100%;
}

.button-darkblue {
  white-space: nowrap;
  padding: 13px 16px;
  background: #d2e1ff;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.button-darkblue:hover {
  background-color: #f1b0e1;
  color: #2d1096;
}

.burger {
  display: none;
  width: 26px;
  height: 26px;
  background-color: transparent;
}

.burger__span {
  display: block;
  height: 4px;
  border-radius: 5px;
  background-color: #12309e;
}

.burger__span + .burger__span {
  margin-top: 4px;
}

.lock {
  overflow: hidden;
}

.section-hero-image {
  background-image: url(../img/heroImage/bg.png), -webkit-gradient(linear, left top, left bottom, from(#f4f7ff), to(#f1f5ff));
  background-image: url(../img/heroImage/bg.png), -o-linear-gradient(top, #f4f7ff 0%, #f1f5ff 100%);
  background-image: url(../img/heroImage/bg.png), linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 570px;
  padding-top: 92px;
}

.hero__content {
  text-align: center;
  margin-top: 70px;
}

.hero__content-h5 {
  color: #3d4f9f;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 16px;
}

.hero__content-h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 60px;
  color: #3d4f9f;
  margin-bottom: 28px;
}

.hero__content-span {
  font-weight: 500;
}

.hero__content-text {
  font-size: 15px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.03em;
  max-width: 502px;
  margin: 0 auto 20px;
}

.hero__content-img {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  z-index: 2;
  margin: 25px 0px 177px 45px;
  width: 52px;
  height: 52px;
  border-radius: 100%;
}

.hero__content-img::after {
  content: "";
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  background-image: url(../img/heroImage/Polygon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 100%;
  top: -20px;
  left: -20px;
}

.hero__content-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__content-dots-item {
  width: 8px;
  height: 8px;
  background-color: #d8e3fe;
  border-radius: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
  margin-bottom: 28px;
  cursor: pointer;
}

.hero__content-dots-item + .hero__content-dots-item {
  margin-left: 12px;
}

.hero__content-dots-item:hover {
  background-color: #5982e7;
}

.hero-active {
  background-color: #5982e7;
}

.section-customers .section-inner {
  padding: 60px 15px;
}

.customers__logotips {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__logotips-links svg path {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.customers__logotips-links svg path:hover {
  fill: #5982e7;
}

.section-plan-and-manage {
  background: #f5f8ff;
  overflow: hidden;
}

.plan__content {
  position: relative;
  text-align: left;
  padding-top: 216px;
  padding-bottom: 207px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.plan-content-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  overflow: hidden;
}

.plan__content-img {
  position: absolute;
  left: 43%;
  top: 140px;
}

.plan__content-text {
  text-align: left;
  margin: 0;
  margin-bottom: 47px;
}

.plan__content-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-family: Quicksand;
  color: #adb4d2;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
}

.plan__content-button-blue {
  white-space: nowrap;
  padding: 13px 37px 13px 25px;
  position: relative;
  background-color: #4c85ff;
  -webkit-box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
          box-shadow: 0px 5px 15px rgba(188, 199, 255, 0.75);
  border-radius: 2px;
  color: #fff;
}

.plan__content-button-blue::after {
  content: "";
  width: 52px;
  height: 52px;
  display: block;
  position: absolute;
  background-image: url(../img/heroImage/whitePolygon.svg);
  background-position: center;
  background-repeat: no-repeat;
  top: calc(50% - 26px);
  left: 70px;
}

.plan__content-button-white {
  white-space: nowrap;
  padding: 13px 25px;
  color: #d2b6ad;
  border: 1px solid #d1d1e4;
  border-radius: 2px;
}

.section-features {
  font-family: Quicksand;
  background: url(../img/features/clouds.png) no-repeat 50% 50%;
}

.features__content-container {
  padding-top: 171px;
  padding-bottom: 171px;
  text-align: center;
}

.features__content-h2 {
  margin-top: 31px;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
  margin-top: 20px;
  margin-bottom: 92px;
}

.features__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.features__flex-columns {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  text-align: center;
  position: relative;
}

.features__flex-columns:not(:last-of-type) {
  margin-right: 40px;
}

.features__flex-columns:not(:last-of-type)::after {
  content: "";
  display: block;
  width: 28px;
  height: 1px;
  background-color: #dae4fe;
  position: absolute;
  left: 109%;
  top: 42%;
}

.features__img {
  width: 69px;
  height: 69px;
}

.features__h3 {
  font-weight: bold;
  font-size: 14px;
  line-height: 25px;
  color: #4074f8;
  margin-top: 33px;
  margin-bottom: 25px;
}

.features__text {
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  color: #adb3cb;
  margin-bottom: 93px;
}

.features__flex-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.uppercase {
  position: relative;
  font-weight: 600;
  font-size: 11px;
  line-height: 19px;
  padding: 0 47px;
  margin: 0;
}

.uppercase::after {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #dae4fe;
  position: absolute;
  left: 70%;
  top: 50%;
  display: block;
}

.uppercase::before {
  content: "";
  width: 15px;
  height: 1px;
  background-color: #dae4fe;
  position: absolute;
  right: 70%;
  top: 50%;
  display: block;
}

.button-red {
  white-space: nowrap;
  padding: 13px 16px;
  background: #ffd7d7;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #d43f3f;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.button-red:hover {
  background-color: #85f17b;
  color: #2d1096;
}

.section-stats {
  background: -o-linear-gradient(350deg, #5e80ff 40%, #e9efff 40%, #e0e9ff 81.53%);
  background: linear-gradient(100deg, #5e80ff 40%, #e9efff 40%, #e0e9ff 81.53%);
  font-family: Quicksand;
}

.stats__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats__column {
  padding: 66px 90px;
  width: 450px;
}

.stats__column:first-child {
  text-align: right;
  background: -o-linear-gradient(220.68deg, #6888ff 12.77%, #5e80ff 73.11%);
  background: linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
}

.stats__number-1 {
  margin: 25px 0;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  text-align: right;
  color: #ffffff;
}

.stats__number-2 {
  margin: 25px 0;
  font-size: 48px;
  line-height: 83px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #5e80ff;
}

.stats__text-1 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  text-align: right;
  color: #ffffff;
  max-width: 260px;
}

.stats__text-2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #5e80ff;
  text-align: left;
}

.section-blog {
  background: #f5f8ff;
}

.blog__content {
  text-align: center;
  padding: 104px 0 70px 0;
  position: relative;
}

.blog__content-h2 {
  font-size: 24px;
  margin-bottom: 70px;
}

.blog__item {
  background: #ffffff;
  border: 1px solid #d8e3fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 15px 50px #eff4ff;
          box-shadow: 0px 15px 50px #eff4ff;
  padding: 63px 35px;
  margin-bottom: 100px;
}

.blog__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog__grid {
  display: grid;
  grid-template-columns: repeat 3, 127px;
  grid-template-rows: repeat 2, 127px;
  grid-gap: 13px;
  grid-auto-flow: dense;
  margin-right: 67px;
}

.blog__grid img {
  max-width: 100%;
}

.blog__img-big {
  grid-column: 1/3;
  grid-row: 1/3;
  position: relative;
}

.blog__img-big span {
  opacity: 0;
  width: 64px;
  height: 64px;
  background: url(../img/blog/lupa.svg) no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.blog__img-big span:hover {
  opacity: 1;
}

.blog__img-nout {
  grid-column: 3/4;
  grid-row: 1/2;
  position: relative;
}

.blog__img-nout span {
  opacity: 0;
  width: 64px;
  height: 64px;
  background: url(../img/blog/lupa.svg) no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.blog__img-nout span:hover {
  opacity: 1;
}

.blog__img-man {
  grid-column: 3/4;
  grid-row: 2/3;
  position: relative;
}

.blog__img-man span {
  opacity: 0;
  width: 64px;
  height: 64px;
  background: url(../img/blog/lupa.svg) no-repeat 50% 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.blog__img-man span:hover {
  opacity: 1;
}

.blog__right-arrow {
  position: absolute;
  display: block;
  top: 50%;
  right: -75px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 15px;
  background: url(../img/blog/rightArrow.svg) no-repeat 50% 50%;
}

.blog__left-arrow {
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 26px;
  height: 15px;
  background: url(../img/blog/leftArrow.svg) no-repeat 50% 50%;
  left: -75px;
}

.blog__info {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 408px;
          flex: 1 1 408px;
}

.blog__title {
  font-family: Quicksand;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
  margin-bottom: 32px;
  text-align: left;
}

.blog__text {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  margin-bottom: 35px;
  text-align: left;
}

.blog__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog__button-trans {
  white-space: nowrap;
  padding: 13px 30px;
  margin-left: 8px;
  font-family: Quicksand;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #a6b6da;
  background: #ffffff;
  border-radius: 2px;
}

.blog__button-darkblue {
  white-space: nowrap;
  padding: 13px 30px;
  background: #d2e1ff;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.blog__button-darkblue:hover {
  background-color: #f1b0e1;
  color: #2d1096;
}

.section-quotes {
  background: -webkit-gradient(linear, left top, left bottom, from(#eaf0ff), to(#f6f9ff));
  background: -o-linear-gradient(top, #eaf0ff 0%, #f6f9ff 100%);
  background: linear-gradient(180deg, #eaf0ff 0%, #f6f9ff 100%);
}

.quotes__content {
  padding: 108px 15px 70px;
}

.quotes__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.quotes__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 320px;
          flex: 0 1 320px;
}

.quotes__column:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 423px;
          flex: 0 1 423px;
  position: relative;
}

.quotes__content-h2 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 36px;
  line-height: 45px;
  color: #3d4f9f;
}

.quotes__text {
  font-weight: 600;
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.03em;
  color: #a4abc8;
}

.quotes__slider {
  margin-bottom: 78px;
}

.quotes__item {
  background: #ffffff;
  border: 1px solid #d8e3fe;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 5px 50px #f3f5fa;
          box-shadow: 0px 5px 50px #f3f5fa;
}

.quotes__post {
  padding: 41px 70px 53px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #676f95;
}

.quotes__img {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 65px;
  height: 65px;
}

.section-faq .faq__content {
  padding: 175px 87px;
}

.section-faq .faq__content-h5 {
  text-align: center;
}

.section-faq .faq__content-h2 {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #3d4f9f;
  margin-bottom: 62px;
}

.section-faq .faq__spoilers {
  padding: 15px;
}

.section-faq .faq__spoiler-item {
  border-bottom: 1px solid #d8e3fe;
  padding: 20px 0;
}

.section-faq .faq__spoiler-item .arrow {
  cursor: pointer;
}

.section-faq .faq__spoiler-item-active .arrow {
  cursor: pointer;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-faq .faq__spoiler-item-active .arrow path {
  stroke: #1b1a29;
}

.section-faq .faq__spoiler-item-active .faq__spoiler-title {
  color: #495274;
  font-weight: bold;
  cursor: pointer;
}

.section-faq .faq__spoiler-item-active .faq__spoiler-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-faq .faq__spoiler-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-faq .faq__spoiler-title {
  font-family: Quicksand;
  font-weight: 500;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #8d96bd;
  margin-left: 20px;
  cursor: pointer;
}

.section-faq .faq__spoiler-content {
  margin-top: 16px;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-faq .faq__spoiler-text {
  padding-left: 55px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 440px;
          flex: 0 1 440px;
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.section-faq .faq__spoiler-button {
  margin-left: 15px;
  white-space: nowrap;
  padding: 13px 30px;
  background: #e8ecf4;
  border-radius: 2px;
  font-family: Quicksand;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #7382a3;
  white-space: nowrap;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.section-faq .faq__spoiler-button:hover {
  background-color: #f1b0e1;
  color: #2d1096;
}

.section-get-started {
  background-image: url(../img/getStarted/clouds.svg), -o-linear-gradient(220.68deg, #6888ff 12.77%, #5e80ff 73.11%);
  background-image: url(../img/getStarted/clouds.svg), linear-gradient(229.32deg, #6888ff 12.77%, #5e80ff 73.11%);
  background-repeat: no-repeat;
  background-position: center center;
}

.get__content-container {
  color: #ffffff;
  padding: 91px 0;
  text-align: center;
}

.get__content-h5 {
  margin-bottom: 30px;
  color: #ffffff;
}

.get__content-h2 {
  color: #ffffff;
  margin-bottom: 35px;
}

.get__content-text {
  margin-bottom: 55px;
}

.get__content-buttons {
  font-family: Quicksand;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.get__content-button-blue {
  white-space: nowrap;
  color: #ffffff;
  padding: 13px 8px;
  border: 1px solid #d1d1e4;
  border-radius: 2px;
}

.get__content-button-white {
  white-space: nowrap;
  padding: 13px 17px;
  background: #ffffff;
  -webkit-box-shadow: 0px 5px 15px #6480e8;
          box-shadow: 0px 5px 15px #6480e8;
  border-radius: 2px;
}

.section-newsletter {
  background: #fcfdff;
}

.section-newsletter {
  padding: 118px 19px;
}

.section-newsletter__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-newsletter__column:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 330px;
          flex: 0 1 330px;
}

.section-newsletter__title {
  font-family: Quicksand;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #3d4f9f;
  margin-bottom: 18px;
}

.section-newsletter__text {
  font-size: 14px;
  line-height: 27px;
  letter-spacing: 0.03em;
  color: #8d96bd;
}

.section-newsletter__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-newsletter__email {
  background: #efeff7;
  border-radius: 5px;
  width: 279px;
  height: 59px;
  margin-right: 14px;
  padding-left: 23px;
  padding-right: 23px;
}

.section-newsletter__submit {
  background: #4d6ce1;
  -webkit-box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
          box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
  border-radius: 5px;
  width: 184px;
  height: 59px;
  font-weight: bold;
  color: #ffffff;
}

.section-footer .section-inner {
  padding: 20px 15px;
  font-family: "Quicksand", sans-serif;
}

.section__flex-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  background: #5e81fe;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.logo:hover {
  background-color: #3afa84;
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__list-item {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #697ca6;
  text-shadow: 0px 0px 5px #e6e6e6;
}

.nav__list-item + .nav__list-item {
  margin-left: 42px;
}

.nav__list-item:first-child {
  margin-left: 73px;
  font-weight: bold;
  color: #5e81fe;
}

.nav__list-item a {
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.nav__list-item a:hover {
  color: #961010;
}

.social-networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.social-networks-link + .social-networks-link {
  margin-left: 34px;
}

.social-networks-link:last-of-type {
  margin-right: 44px;
}

.social-networks-link path {
  fill: #b6bac7;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.social-networks-link path:hover {
  fill: #6188ff;
}

.button-darkblue {
  padding: 13px 16px;
  background: #d2e1ff;
  border-radius: 2px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #3a79ff;
  -webkit-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  transition: 0.4s ease-in-out;
}

.button-darkblue:hover {
  background-color: #f1b0e1;
  color: #2d1096;
}

.copyright {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: capitalize;
  color: #aeb8d0;
  margin-top: 28px;
  margin-bottom: 73px;
  margin-left: 100px;
}

@media (max-width: 1198.98px) {
  .blog__right-arrow {
    display: none;
  }

  .blog__left-arrow {
    display: none;
  }
}

@media (max-width: 991.98px) {
  .section__flex {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .section__flex-wrapper {
    opacity: 0;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 0;
    top: -400%;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: white;
    margin-bottom: 25px;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }

  .nav__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .nav__list-item + .nav__list-item {
    margin-left: 0;
  }

  .nav__list-item {
    margin: 30px 0;
  }

  .social-networks-link:last-of-type {
    margin-right: 0;
  }

  .button-darkblue {
    margin-bottom: 20px;
  }

  .burger {
    display: block;
    z-index: 15;
  }

  .section__flex-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .nav__list-item:first-child {
    margin-left: 0px;
  }

  .nav__list-item {
    padding: 20px 0;
  }

  .social-networks {
    margin-left: 0px;
  }

  .button-darkblue {
    margin-top: 20px;
  }

  .copyright {
    text-align: center;
    margin-left: 0;
  }
}

@media (max-width: 767.98px) {
  .section-hero-image {
    background: -webkit-gradient(linear, left bottom, left top, from(#f4f7ff), to(#dee7ff));
    background: -o-linear-gradient(bottom, #f4f7ff 0%, #dee7ff 100%);
    background: linear-gradient(0deg, #f4f7ff 0%, #dee7ff 100%);
  }

  .hero__content-img {
    margin-bottom: 0px;
  }

  .hero__content-dots-item {
    display: none;
  }

  .customers__logotips {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .customers__logotips-links + .customers__logotips-links {
    margin: 15px;
  }

  .plan__content {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding: 100px 0;
  }

  .plan__content-img {
    display: none;
  }

  .plan__content-text {
    text-align: center;
  }

  .plan__content-buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .features__content-container {
    padding: 70px 0;
  }

  .features__content-h2 {
    margin-bottom: 50px;
  }

  .features__flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .features__flex-columns {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .features__flex-columns:not(:last-of-type) {
    margin-right: 0;
  }

  .features__flex-columns:not(:last-of-type)::after {
    display: none;
  }

  .stats__column {
    padding: 60px 50px;
  }

  .stats__column:first-child {
    background: #6888ff;
  }

  .blog__content {
    padding: 50px 0;
  }

  .blog__content-h2 {
    margin-bottom: 30px;
  }

  .blog__item {
    margin: 50px 0;
  }

  .blog__grid {
    grid-template-columns: repeat 2, 127px;
    grid-template-rows: repeat 3, 127px;
  }

  .blog__img-nout {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .blog__img-man {
    grid-column: 2/3;
    grid-row: 3/4;
  }

  .quotes__slider {
    margin-left: 15px;
  }

  .section-faq .faq__content {
    padding: 100px 40px;
  }

  .section-newsletter {
    padding: 60px 25px;
  }

  .section-newsletter__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }

  .section-newsletter__email {
    margin-bottom: 10px;
    margin-right: 0;
  }

  .copyright {
    margin-bottom: 20px;
  }
}

@media (max-width: 575.98px) {
  .section-hero-image {
    max-height: 540px;
  }

  .hero__content-h2 {
    font-size: 40px;
  }

  .section-customers {
    margin: -50px 0;
  }

  .features__text {
    margin-bottom: 30px;
  }

  .section-stats {
    background: -webkit-gradient(linear, left top, right top, from(#5e80ff), color-stop(50%, #e9efff), color-stop(81.53%, #e0e9ff));
    background: -o-linear-gradient(left, #5e80ff 0%, #e9efff 50%, #e0e9ff 81.53%);
    background: linear-gradient(90deg, #5e80ff 0%, #e9efff 50%, #e0e9ff 81.53%);
  }

  .stats__column {
    padding: 20px;
    text-align: center;
  }

  .stats__column:first-child {
    text-align: center;
  }

  .stats__number-1 {
    font-size: 36px;
    margin: 0;
    text-align: center;
  }

  .stats__number-2 {
    font-size: 36px;
    margin: 0px;
    text-align: center;
  }

  .stats__text-1 {
    text-align: center;
  }

  .stats__text-2 {
    text-align: center;
  }

  .blog__content-h2 {
    font-size: 30px;
    margin-bottom: 0px;
  }

  .blog__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog__grid {
    margin-right: 20px;
    grid-template-columns: repeat 3, 127px;
    grid-template-rows: repeat 2, 127px;
  }

  .blog__img-nout {
    margin-right: 0px;
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .blog__img-man {
    margin-right: 0px;
    margin-bottom: 20px;
    grid-column: 3/4;
    grid-row: 2/3;
  }

  .blog__info {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .blog__title {
    font-size: 26px;
    text-align: center;
  }

  .blog__buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .blog__button-darkblue {
    margin-bottom: 10px;
  }

  .quotes__content {
    padding: 50px 15px;
    text-align: center;
  }

  .quotes__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .quotes__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 25px;
  }

  .quotes__column:last-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .quotes__content-h2 {
    font-size: 26px;
  }

  .quotes__slider {
    margin-bottom: 25px;
  }

  .quotes__post {
    padding: 20px 20px 53px;
  }

  .section-faq .faq__content {
    padding: 50px 20px;
  }

  .section-faq .faq__content-h2 {
    margin-bottom: 20px;
  }

  .section-faq .faq__spoiler-item-active .faq__spoiler-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-faq .faq__spoiler-text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 25px;
    padding-left: 38px;
  }

  .get__content-container {
    padding: 60px 0 70px;
  }

  .section-newsletter {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  }

  .section-newsletter__flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .section-newsletter__column:first-child {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 25px;
  }

  .section-newsletter__title {
    text-align: center;
  }

  .section-newsletter__text {
    text-align: center;
  }

  .section-newsletter__buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .section__flex-footer {
    margin-top: 10px;
  }

  .nav__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .nav__list-item + .nav__list-item {
    margin: 0 20px;
  }

  .nav__list-item:first-child {
    margin: 0 20px;
  }
}

@media (max-width: 400.98px) {
  .features__content-h2 {
    font-size: 36px;
  }
}

.webp .section-hero-image{ background-image: url(../img/heroImage/bg.webp), -webkit-gradient(linear, left top, left bottom, from(#f4f7ff), to(#f1f5ff)); }

.webp .section-hero-image{ background-image: url(../img/heroImage/bg.webp), -o-linear-gradient(top, #f4f7ff 0%, #f1f5ff 100%); }

.webp .section-hero-image{ background-image: url(../img/heroImage/bg.webp), linear-gradient(180deg, #f4f7ff 0%, #f1f5ff 100%); }

.webp .section-features{ background: url(../img/features/clouds.webp) no-repeat 50% 50%; }